body
{
  background-color:rgb(5, 5, 5) ;
  height: 3000px;
}











.autor{
    position: relative;
    margin-left: 4%;
}

.wide {
    width: 100%;
    object-fit: contain;
    background-position: center;
    min-height: 350px;
  }

.MENU{
    
    margin-left: 0%;
    text-align: center;
    background-color: transparent;

  }

.logo{
    font-style: italic;
    font-weight: bold;
    font-size: xx-large;
    color: rgb(253, 249, 6);
    margin-inline-end:23%;
}

  .btn{
    background-color: transparent;
    text-transform: uppercase;
    font-size: x-large;
  }

.img_logo{
    width: 100px;
    height:100px;
    background-image: none;
}

h5{
    font-style: italic;
    margin-left: 20px;
    margin-bottom: 0%;
    margin: 0%;
    color: white;
    
}

.Recent_Movie_1{

   border: solid whitesmoke;
   border-width: 1px;
   background-color: black;
   height: 379px;

}

.Recent_Movie_2{
    height: 150px;
    width: 150px;
    margin: 50px;
    margin-left: 0%;

}


.video_style{
    margin-top: 0%;
    margin: 5%;
    height: 300px;
    width: 300px;
    cursor: pointer;
    
}

.movielist_style1{
    height: 300px;
    background-color: black;
    margin-top: 20px;
}